.box {
  width: 300px;
  height: 300px;
  background: red;
}

.box .redbox {
  color: #ffffff;
}

.box-box {
  color: #4f5b64;
}

.p {
  border: 1px solid;
  border: 2px dotted;
}

.item-1 {
  width: 10px;
}

.item-2 {
  width: 20px;
}

.item-3 {
  width: 30px;
}

.item-4 {
  width: 40px;
}

.item-5 {
  width: 50px;
}

.item-6 {
  width: 60px;
}

.item-7 {
  width: 70px;
}

.item-8 {
  width: 80px;
}

.item-9 {
  width: 90px;
}

.item-10 {
  width: 100px;
}

.item-11 {
  width: 110px;
}

.item-12 {
  width: 120px;
}
